@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

$primary-color: #016fff;
$border-color: #38687f;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.focus {
    background-color: transparent;
    box-shadow: 1px 1px 10px 2px #66a8ff;
}

body {
    background-color: rgba(114, 112, 253, 0.123);
    margin: 0 auto;
    width: 70%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2em;
}

// .single-task-item {
//     list-style-type: none;
//     display: grid;
//     grid-row-gap: 1rem;
//     grid-template-columns: 1fr auto auto;
// }
// .single-task-title {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     overflow-x: auto;
// }

.input-text-field{
    margin: 1em 0;

    input{
        min-width: 100%;
        font-size: large;
        padding: 0.5em;
        border-radius: 0.5em;
        border: 1px solid rgba(128, 128, 128, 0.384);
        &:focus {
            outline: 1px solid $border-color;
            box-shadow: 1px 1px 10px 1px #66a8ff96;
        }
    }
}

.single-task {
    list-style-type: none;
    padding-right: 1em;
    justify-content: space-between;
    margin: 1em 0 1em 1em;
    padding-right: 3em;
}
.task-info {
    gap: 0.5em;
    button {
        background-color: transparent;
        border: none;
    }
}
.task-update {
    width: 100px;
    button {
        background-color: transparent;
        border: none;
    }
}

.hidden {
    display: none;
}

.hr-style {
    border: none;
    border-bottom: 0.05em solid rgba(128, 128, 128, 0.253);
    color: rgb(153, 153, 153);
}

.display-allTask {
    margin-bottom: 1em;
}

.button-color {
    // button {
        background-color: $primary-color;
        // box-shadow: 1px 1px 10px 2px #66a8ff;
    // }
}

.all-buttons {
    margin: 2em 0;
    .add-and-search {
        width: 25%;
        padding: 0.3em 0;
        border-right: 1px solid $border-color;

        button {
            border: 1px solid;
            border-color: $border-color;
            padding: 0.2em 0.8em;
            &:first-child {
                border-radius: 5px 0 0 5px;
            }
            &:last-child {
                border-radius: 0 5px 5px 0;
            }
        }
    }
}
.task-operation-button {
    width: 70%;

    select {
        border: 1px solid rgba(0, 0, 0, 0.295);
        padding: 0.3em 0.5em;
        width: 130px;
    }

    .task-category {
        button {
            border: 1px solid $border-color;
            border-right: none;
            padding: 0.3em 0.5em;
        }
        button:first-child {
            border-radius: 5px 0 0 5px;
        }
        button:last-child {
            border-right: 1px solid $border-color;
            border-radius: 0 5px 5px 0;
        }
    }
}